In [1]:
from scipy.stats import ttest_1samp
#his is a one tailed t test

 we are looking for evidence that the boys weigh less than the known popuation mean of 85 pounds

In [2]:
data = [87,65,65,67,72,73,97,76]

In [3]:
import statistics as stats
print(stats.mean(data))

75.25

In [4]:
test_t = ttest_1samp(a=data, popmean=75)
test_t

Ttest_1sampResult(statistic=0.0621712779974883, pvalue=0.9521643942827747)

In [5]:
# what's the critical value - z distribution
from scipy.stats import norm

In [6]:
critical_value = norm.ppf(0.05)
print (critical_value)

-1.6448536269514729

In [7]:
# is the test statistic less than the critical value ?
#yes - so we can reject H0

In [19]:
sample_mean = 80.94
pop_mean = 75
sampl_std = 11.6
n = 25

In [20]:
import math

In [21]:
statistic = (sample_mean - pop_mean) / (sampl_std/(math.sqrt(n-1)))

In [22]:
statistic

2.5086153572641505

In [23]:
norm.cdf(statistic)

0.9939397307361987

In [24]:
import pandas as pd

In [25]:
df = pd.read_excel('anova_class_example_data.xlsx', sheet_name='data_collected')
df.head()

   Display_design  Percent_increase_in_sales
0               1                        575
1               2                        565
2               3                        600
3               4                        725
4               1                        542

In [26]:
import statsmodels.api as sm
from statsmodels.formula.api import ols #ordinary least squares

In [27]:
model = ols('Percent_increase_in_sales ~ C(Display_design)',data=df).fit()

In [28]:
results_table = sm.stats.anova_lm(model)
results_table

                     df    sum_sq       mean_sq          F        PR(>F)
C(Display_design)   3.0  66870.55  22290.183333  66.797073  2.882866e-09
Residual           16.0   5339.20    333.700000        NaN           NaN

In [29]:
# 3.24 is the critical value 
# F > 3.24